@import './base.css';

/* css.gg */
@import url("https://css.gg/css");

/* UNPKG */
@import url("https://unpkg.com/css.gg/icons/icons.css");

/* JSDelivr */
@import url("https://cdn.jsdelivr.net/npm/css.gg/icons/icons.css");

:root{
  --border-radius: 4px;
  --border: 1px solid #0004;
}

.panel{
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--background);
}

.form-control{
  width: 100%;
  outline: none;
  background-color: var(--background-dark);
  color: var(--color-text);
  font-family: inherit;
  border-radius: var(--border-radius);
  line-height: 24px;
  border: 0;
}

.pointer{
  cursor: pointer;
}

.text-overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button{
  border: 0;
  display: inline-flex;
  background-color: var(--background-light);
  color: var(--color-text);
  border-radius: var(--border-radius);
  padding: 4px 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button:hover{background-color: var(--background-dark);}

.button.active{
  background-color: var(--primary);
}

.btn-group button:first-child{border-top-right-radius: 0; border-bottom-right-radius: 0;}
.btn-group button:last-child{border-top-left-radius: 0; border-bottom-left-radius: 0;}

.playback-marker{
  width: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--live);
  z-index: 101;
  pointer-events: none;
}